%h2 Sites

- if sites.any?
  %table
    %thead
      %tr
        %th Name
        %th API Key
        %th Status
    %tbody
      - sites.each do |site|
        %tr
          %td= link_to site.name, my_site_path(site)
          %td= site.key
          %td= site.status

%h3 Add New Site

%p Each site costs $3.00 USD per month.

- unless require_credit_card?(site)
  %p The credit card on file (ending in #{current_user.cache['card']['last4']}) will be used for this subscription.

= render 'form'
