%h2 Site #{site.name}

%p The API key for this site is <strong><code>#{site.key}</code></strong>.
%p Please do not share this key with anyone, it is your private authentication for updating your site's data. If you think your key has been compromised, you can #{ link_to 'generate a new key', regenerate_my_site_path(site), :method => :post }.

- if site.cache['current_period_end']
  %p The current billing cycle finishes at #{ Time.zone.at site.cache['current_period_end'] }, and you will be billed for the next month shortly after that.

- case site.status
- when 'pending'
  %h4 Status: Pending
  %p Payment is being processed for this site. Hang tight, and perhaps #{ link_to 'refresh', my_site_path(site) } in a minute?
- when 'failure'
  %h4 Status: Payments Failed
  %p Payments have failed to be collected for this site, and it is no longer active.
- when 'past_due'
  %h4 Status: Past Due
  %p A payment has failed to be collected for this site. If you need to update your credit card details, that can be done on #{ link_to 'the dashboard', my_dashboard_path }.

%h3 Update Site

= render :partial => 'form'

%p If you change your site's name, make sure you update any credentials on your Jekyll site, including references in your Javascript code that make calls to Drumknott's Search API.

- unless site.status == 'deleting'
  %h3 Remove Site

  = link_to 'Cancel and Delete', my_site_path(site), :method => :delete, :data => {:confirm => 'This will cancel your subscription and delete all site data. Are you sure?'}
