%p= link_to 'Return to list of invoices', my_invoices_path
%p= link_to 'Download PDF', my_invoice_path(invoice, :format => :pdf), :target => '_blank'

.invoice-box
  %table{:cellpadding => 0, :cellspacing => 0}
    %tr.top
      %td{:colspan => 2}
        %table
          %tr
            %td.title
              %h2 Drumknott
            %td
              Invoice #:
              = invoice_number invoice
              %br/
              Created:
              = invoice.invoiced_at.to_formatted_s :date_only
              %br/
              For
              = invoice.user.email
              %br/
              Status:
              = invoice.data['paid'] ? 'Paid' : 'Due'

    %tr.information
      %td{:colspan => 2}
        %table
          %tr
            %td
              Invoice From:
              %br/
              = ENV['INVOICE_FROM'].gsub("\n", "<br />").html_safe

    %tr.heading
      %td Item
      %td Amount
    - invoice.data['lines']['data'].each do |line|
      %tr{:class => line_class_for(invoice.data['lines']['data'], line)}
        %td Monthly subscription for #{ invoice.site.name }
        %td= number_to_currency(line['amount'] / 100.0)

    %tr.subtotal.first
      %td
      %td Subtotal: #{ number_to_currency(invoice.data['subtotal'] / 100.0) }

    - if invoice.data['discount']
      %tr.subtotal
        %td
        %td Discount: #{ number_to_currency(invoice.data['discount']['coupon']['percent_off'].to_i * invoice.data['subtotal'] / 10000.0) }

    %tr.total
      %td
      %td Total: #{ number_to_currency(invoice.data['total'] / 100.0) }

    %tr.footer
      %td{:rowspan => 2}
        %p
          #{ENV['INVOICE_REFERENCE_LABEL']}: #{ENV['INVOICE_REFERENCE']}
          %br/
          All dollar values listed are in #{invoice.data['currency'].upcase}.
          %br/
          - if current_user.country == 'AU'
            Total amount listed includes 10% GST for Australian customers.
            %br/
          ! For questions, support and feedback, please email #{ link_to 'hello@drumknottsearch.com', 'mailto:hello@drumknottsearch.com' }.
