= semantic_form_for current_user, :url => my_account_path do |form|
  = form.inputs do
    = form.input :email
    = form.input :country, :as => :country, :priority_countries => [], :hint => 'Required to handle billing correctly.'
  = form.actions do
    = form.action :submit, :as => :button, :label => 'Update', :button_html => {:class => 'button primary'}
