%h2 Account Details

= render :partial => 'my/accounts/form'

%h2 Credit Card

- if current_user.cache['card']
  %p The card on file ends with #{current_user.cache['card']['last4']}, and expires at #{current_user.cache['card']['exp_month']}/#{current_user.cache['card']['exp_year']}.
- else
  %p You currently have no credit card attached to your account. Please use the button below to add new card details.

= form_tag change_card_my_account_path, method: :put do |form|
  %script{'src'        => 'https://checkout.stripe.com/checkout.js',
    'class'            => 'stripe-button',
    'data-key'         => ENV['STRIPE_PUBLISHABLE_KEY'],
    'data-name'        => 'Drumknott',
    'data-label'       => 'Update Credit Card',
    'data-description' => 'Update your credit card details',
    'data-panel-label' => 'Update',
    'data-locale'      => 'auto',
    'data-currency'    => 'USD',
    'data-email'       => current_user.email}

%h2 Close Account

%p If you've decided you'd like to stop using Drumknott and want to cancel all subscriptions and delete all data, just click the button below.

= link_to my_account_path, :method => :delete do
  %button.button.primary{:type => 'button'} Close
